.project {
	margin-top: 2.8125rem;
	text-align: center;

	&__img {
		max-width: 100%;
		border: 2px solid black;
	}

	.icon {
		display: inline-block;	    
		transition: opacity .3s;
		opacity: .5;		
	}

	.icon:hover {
		opacity: 1;
	}	
}
